body {
    background-image: url("https://jooinn.com/images/palm-trees-33.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    padding-bottom: 6rem;
}

.container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 10px;
}

#aboutMe {
    width: 200px;
    height: 240px;
    float: left;
    padding-right: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: smaller;
    background-color: white;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 640px) {
    #aboutMe {
      width: 280px;
      height: 350px;
    }
}
  